<!--Form Section-->

<h2 >
    <b>Find out the most suitable crop to grow in your farm</b>
</h2>


<form method="POST" action="{{ url_for('crop_prediction') }}">
    <div class="form-group">
        <label for="Nitrogen" ><b>Nitrogen</b></label>
        <input type="number" class="form-control" id="Nitrogen" name="nitrogen"
            required />
    </div>
    <div class="form-group">
        <label for="Phosphorous" ><b>Phosphorous</b></label>
        <input type="number" class="form-control" id="Phosphorous" name="phosphorous"
            required />
    </div>

    <div class="form-group">
        <label for="Pottasium" ><b>Pottasium</b></label>
        <input type="number" class="form-control" id="Pottasium" name="pottasium"
            required />
    </div>
    <div class="form-group">
        <label for="ph" ><b>ph level</b></label>
        <input type="number" step="0.01" class="form-control" id="ph" name="ph" placeholder="Enter the value"
            style="font-weight: bold" required />
    </div>
    <div class="form-group">
        <label for="Rainfall" ><b>Rainfall (in mm)</b></label>
        <input type="number" step="0.01" class="form-control" id="Rainfall" name="rainfall"
            placeholder="Enter the value" style="font-weight: bold" required />
    </div>
    <div class="form-group">
        <label for="temperature" ><b>temperature</b></label>
        <input type="number" class="form-control" id="temperature" name="temperature"
            required />
    </div>
    <div class="form-group">
        <label for="humidity" ><b>humidity</b></label>
        <input type="number" class="form-control" id="humidity" name="humidity"
            required />
    </div>
    
        <button type="submit" >
            Predict
        </button>
    
</form>
</div>
