{% extends 'page_layout.html' %}
{% block body %}


<link href="{{ url_for('static', filename='weather_forecast/weather.css')}}" rel="stylesheet">    

<body>
    <main>
        <div class="row" style="text-align: center;">
            <form action="">
                <input type="search" id="search" placeholder="Search by city name">
            </form>
        </div>
        <div style="text-align: center;" id="weather">
           
        </div>
    </main>
    <script src="{{ url_for('static', filename='weather_forecast/weather.js')}}"></script>

</body>

</html>

{% endblock %}